@import "variables.scss";
@import "mixins.scss";

/*INITALISATION, TEXTES, RESET CSS MANUEL PARTIEL*/
body{
    margin: 0;
}
abbr {
    text-decoration: none !important;
    border-bottom: 0px !important;
    }
h1, h2, h3, h4, h5{
    font-family: 'DM Serif Display', serif;
    margin: 0;
}
p{
    font-family: 'Helvetica';
}
h1{
    font-size: 90px;
    font-weight: 400;
}
h2{
    font-size: 40px;
    font-weight: 200;
}

/*MODIFS SECTION 1 HOME*/
.intro header{
    background-image: url(img/bg-home.png);
    height: 100vh;display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $light;
}

#zen-summary{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p:nth-child(1){
        font-family: 'Helvetica'!important;
    }
    p:nth-child(2){

        a{
            padding: 15px 25px;
            border-radius: 50px;
            font-size: 15px;
            color: $light;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 600;

            &:nth-child(1){
                background-color: $green;
            }
            &:nth-child(2){
                background-color: $dark-green;
            }
            &:hover{
                background: $dark;
                transition: 0.5s;
                color: $light;
            }
        }

    }
}
