@import "variables.scss";
@import "mixins.scss";
body{
    margin: 0;
}
h1, h2, h3, h4, h5{
    font-family: 'DM Serif Display', serif;
}
p{
    font-family: 'Helvetica';
}
h1{
    font-size: 80px;
    font-weight: 400;
    margin: 0;
}
h2{
    font-size: 35px;
    font-weight: 200;
    margin: 0;
}

/*MODIFS SECTION 1 HOME*/
.intro header{
    background-image: url(img/bg-home.png);
    height: 100vh;display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $light;
}

#zen-summary{



    p:nth-child(2){

        a{
            padding: 15px 25px;
            border-radius: 50px;
            font-size: 15px;
            color: $light;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 600;

            &:nth-child(1){
                background-color: $green;
            }
            &:nth-child(2){
                background-color: $dark-green;
            }
        }

    }

    &:hover{
        background: $dark;
        transition: 1s;
    }
}

/*button exemple fichier mixins*/

.btn{
    padding: 20px;
    border-radius: 10px;
    font-size: 25px;

    &:hover{
        background: $dark;
        transition: 1s;
    }
    &-dark-green{
        background: $dark-green;
        color: $light;
        @include see-througth($green);
    }
    &-light-green{
        background: $light-green;
        color: $light;
        @include see-througth($green);
    }
    &-green{
        background: $green;
        color: $light;
        @include see-througth($green);
    }
}