@import "variables.scss";
@import "mixins.scss";

h1, h2, h3, h4, h5{
    font-family: 'DM Serif Display', serif;
    h1{
        font-size: 115px;
    }
    h1{
        font-size: 55px;
    }
}
.intro header{
    background-image: url(img/bg-home.png);
    height: 100vh;display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 20px;
    border-radius: 10px;
    font-size: 25px;

    &:hover{
        background: $dark;
        transition: 1s;
    }
    &-dark-green{
        background: $danger;
        color: $light;
        @include camion(red);
    }
    &-light-green{
        background: $danger;
        color: $light;
        @include camion(red);
    }
    &-green{
        background: $danger;
        color: $light;
        @include camion(red);
    }
}